h1{
    border:2px solid tomato;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: italic;
}
ul{
    border-width: 5px;
    border-style: dotted;
    border-color: dodgerblue;
}
li{
    border-width: 2.5px;
    border-style: dashed;
    border-color: lightcoral;
}
p{
    border-radius: 10px;
    border-width: 2.5px;
    border-style: solid;
    border-color: darkmagenta;
}
body{
    background-color: lightgray;
    background-image: url("ImágenesMazeRunner/Logo/mazeRunnerSinFondo.png");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}